# نصب پکیج های مورد نیاز

In [ ]:
!pip install -q tensorflow-recommenders
!pip install -q --upgrade tensorflow-datasets
!pip install -q scann

# ایمپورت کتابخانه ها و توابع مورد نیاز

In [1]:
import os
import pprint
import tempfile

from typing import Dict, Text

import numpy as np
import tensorflow as tf
import tensorflow_datasets as tfds

2022-12-25 17:09:05.119096: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-25 17:09:05.119158: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
/usr/local/lib/python3.9/dist-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import tensorflow_recommenders as tfrs
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
df = pd.read_csv('first1.csv')

In [ ]:
df

In [ ]:
df=df[['CustomerBk','CustomerTypeBk','Product_Code','AreaBk','CityTitle','OfficeBk','DistPathCode','LastCustomerClassBk']]

In [ ]:
len(df)

In [ ]:
set(df['OfficeBk'][df['CityTitle']=='تبريز'])

In [ ]:
len(set(list(df['OfficeBk'][df['CityTitle']=='تبريز'])+list(df['OfficeBk'][df['CityTitle']=='تهران'])+list(df['OfficeBk'][df['CityTitle']=='اصفهان'])+list(df['OfficeBk'][df['CityTitle']=='مشهد'])))

In [ ]:
aaa=list(set(list(df['OfficeBk'][df['CityTitle']=='تبريز'])+list(df['OfficeBk'][df['CityTitle']=='تهران'])+list(df['OfficeBk'][df['CityTitle']=='اصفهان'])+list(df['OfficeBk'][df['CityTitle']=='مشهد'])+list(df['OfficeBk'][df['CityTitle']=='شيراز'])+list(df['OfficeBk'][df['CityTitle']=='يزد'])+list(df['OfficeBk'][df['CityTitle']=='اراک'])+list(df['OfficeBk'][df['CityTitle']=='اهواز'])+list(df['OfficeBk'][df['CityTitle']=='رشت'])))

In [ ]:
len(aaa)

In [ ]:
aaa

In [ ]:
# len(set(list(df['OfficeBk'][df['CityTitle']=='تهران'])))

In [ ]:
# set(list(df['OfficeBk'][df['CityTitle']=='تهران']))

# تفکیک دیتای کلانشهرها از غیر کلانشهرها

In [ ]:
lll=[]
lll1 = []
for i in range(len(df)):
    if df['OfficeBk'][i] in aaa:
        lll.append(i)  
    else:
        lll1.append(i)

In [15]:
len(df)

18725759

In [16]:
len(lll)

9097480

In [17]:
len(lll1)

9628279

# ادامه با دیتای غیر کلانشهرها

In [18]:
df2=df.iloc[lll1]

In [19]:
df3=df2.reset_index()

In [20]:
df4=df3.iloc[:,1:]

In [21]:
df4

,CustomerBk,CustomerTypeBk,Product_Code,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,481012552,37,230,18,دامغان,988,4,100
1,292034224,37,650,0,ايلام,995,1,100
2,382050178,37,788,11,پارس آباد,235,1,50
3,311053237,38,330,28,ساري,987,3,250
4,291013594,37,495,6,كرمانشاه,135,1,100
...,...,...,...,...,...,...,...,...
9628274,290442762,37,1902,0,مياندوآب,290,0,0
9628275,411110652,52,2908,606,ابهر,946,1,50
9628276,166322212,37,3015,0,سنندج,166,0,200
9628277,166321780,52,3015,0,سنندج,166,0,200
9628278,988014907,38,1912,0,دامغان,988,0,250

In [22]:
df = df4

In [23]:

df=df.dropna(axis=0, subset=['OfficeBk'])

In [24]:
df = df.reset_index()

In [25]:
df=df.iloc[:,1:]

In [26]:
len(df)

9628279

# خواندن لیست محولات فعال

In [27]:
df1=pd.read_csv('product.csv')

In [28]:
f=df1['ProductBK'].unique()

In [29]:
f=list(f)

In [30]:
len(f)

543

# استخراج تراکنشهایی که در آنها محول فعالی خریداری شده

In [31]:
f1=[]
for i in range(len(df)):
    if df['Product_Code'][i] in f:
        f1.append(i)

In [32]:
len(df)

9628279

In [33]:
len(f1)

9562729

In [34]:
df2=df.iloc[f1]

In [35]:
df3=df2.reset_index()

In [36]:
df4=df3.iloc[:,1:]

In [37]:
df4

,CustomerBk,CustomerTypeBk,Product_Code,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,481012552,37,230,18,دامغان,988,4,100
1,292034224,37,650,0,ايلام,995,1,100
2,382050178,37,788,11,پارس آباد,235,1,50
3,311053237,38,330,28,ساري,987,3,250
4,291013594,37,495,6,كرمانشاه,135,1,100
...,...,...,...,...,...,...,...,...
9562724,290442762,37,1902,0,مياندوآب,290,0,0
9562725,411110652,52,2908,606,ابهر,946,1,50
9562726,166322212,37,3015,0,سنندج,166,0,200
9562727,166321780,52,3015,0,سنندج,166,0,200
9562728,988014907,38,1912,0,دامغان,988,0,250

In [38]:
df = df4

In [39]:
df['CityTitle'].value_counts()

بندرعباس           478652
كرج                330264
ساري               295906
آمل                205636
كرمان              198019
                    ...
سگز آباد                5
ميرجاوه                 4
جعفريه                  4
گرماب                   2
زنگي آباد كرمان         1
Name: CityTitle, Length: 526, dtype: int64

In [40]:
df['DistPathCode'] = df['DistPathCode'].astype(str)

In [41]:
df['OfficeBk'] = df['OfficeBk'].astype(str)

In [42]:
df['LastCustomerClassBk'] = df['LastCustomerClassBk'].astype(str)

In [43]:
df['CustomerBk'] = df['CustomerBk'].astype(str)

In [44]:
df['CustomerTypeBk'] = df['CustomerTypeBk'].astype(str)

In [45]:
df['AreaBk'] = df['AreaBk'].astype(str)

In [46]:
df['Product_Code'] = df['Product_Code'].astype(str)

In [47]:
df['CityTitle'] = df['CityTitle'].astype(str)

In [48]:
features = ['CustomerBk','AreaBk', 'Product_Code','DistPathCode','CustomerTypeBk','CityTitle','OfficeBk','LastCustomerClassBk'] 
dataset = (
    tf.data.Dataset.from_tensor_slices(
        (
            tf.cast(df[features].values, tf.string)
            
        )
    )
)

2022-09-22 06:08:50.897159: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-09-22 06:08:50.897209: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-09-22 06:08:50.897234: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (gljhub): /proc/driver/nvidia/version does not exist
2022-09-22 06:08:50.897623: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [49]:
dataset

In [50]:
ratings = (dataset
           .map(lambda rating: {'user_id': rating[0],'Area_Code':rating[1],'product_title': rating[2],'SalesDocumentType':rating[3],'Customer_Type':rating[4],'city_name':rating[5],'OfficeBk':rating[6],'ClassBk':rating[7]})
           .cache(tempfile.NamedTemporaryFile().name)
)

In [51]:
df

,CustomerBk,CustomerTypeBk,Product_Code,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,481012552,37,230,18,دامغان,988,4,100
1,292034224,37,650,0,ايلام,995,1,100
2,382050178,37,788,11,پارس آباد,235,1,50
3,311053237,38,330,28,ساري,987,3,250
4,291013594,37,495,6,كرمانشاه,135,1,100
...,...,...,...,...,...,...,...,...
9562724,290442762,37,1902,0,مياندوآب,290,0,0
9562725,411110652,52,2908,606,ابهر,946,1,50
9562726,166322212,37,3015,0,سنندج,166,0,200
9562727,166321780,52,3015,0,سنندج,166,0,200
9562728,988014907,38,1912,0,دامغان,988,0,250

In [52]:
# dataset=[]

In [53]:
# features = ['CustomerCode', 'Product_Code'] 
# dataset = (
#     tf.data.Dataset.from_tensor_slices(
#         (
#             tf.cast(df[features].values, tf.string)
            
#         )
#     )
# )

In [54]:
dataset

In [55]:
# ratings = (dataset
#            .map(lambda rating: {'user_id': rating[0],'product_title':rating[1]})
#            .cache(tempfile.NamedTemporaryFile().name)
# )

In [56]:
ratings

<CacheDataset element_spec={'user_id': TensorSpec(shape=(), dtype=tf.string, name=None), 'Area_Code': TensorSpec(shape=(), dtype=tf.string, name=None), 'product_title': TensorSpec(shape=(), dtype=tf.string, name=None), 'SalesDocumentType': TensorSpec(shape=(), dtype=tf.string, name=None), 'Customer_Type': TensorSpec(shape=(), dtype=tf.string, name=None), 'city_name': TensorSpec(shape=(), dtype=tf.string, name=None), 'OfficeBk': TensorSpec(shape=(), dtype=tf.string, name=None), 'ClassBk': TensorSpec(shape=(), dtype=tf.string, name=None)}>

In [57]:
a = list(df['Product_Code'].unique())
len(a)

536

In [58]:
b = 536*[1]

In [59]:
z=pd.DataFrame({'one':a, 'two':b})

In [60]:
z

      one  two
0     230    1
1     650    1
2     788    1
3     330    1
4     495    1
..    ...  ...
531  1777    1
532  2007    1
533  2005    1
534  3160    1
535  3161    1

[536 rows x 2 columns]

In [61]:
features = ['one'] 
dataset1 = (
    tf.data.Dataset.from_tensor_slices(
        (
            tf.cast(z[features].values, tf.string)
        )
    )
)

In [62]:
products = (dataset1
          .map(lambda x: x[0])
          .cache(tempfile.NamedTemporaryFile().name))

In [63]:
len(df)

9562729

In [64]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(9562729 , seed=42, reshuffle_each_iteration=False)

train = shuffled.take(9562729)
test = shuffled.skip(9562729).take(1)

In [65]:
products

In [66]:
df

,CustomerBk,CustomerTypeBk,Product_Code,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,481012552,37,230,18,دامغان,988,4,100
1,292034224,37,650,0,ايلام,995,1,100
2,382050178,37,788,11,پارس آباد,235,1,50
3,311053237,38,330,28,ساري,987,3,250
4,291013594,37,495,6,كرمانشاه,135,1,100
...,...,...,...,...,...,...,...,...
9562724,290442762,37,1902,0,مياندوآب,290,0,0
9562725,411110652,52,2908,606,ابهر,946,1,50
9562726,166322212,37,3015,0,سنندج,166,0,200
9562727,166321780,52,3015,0,سنندج,166,0,200
9562728,988014907,38,1912,0,دامغان,988,0,250

In [67]:
# l11

In [74]:
# user_area

In [75]:
product_title = products.batch(1_000)
user_ids = ratings.batch(10_000_000).map(lambda x: x["user_id"])
user_area = ratings.batch(10_000_000).map(lambda x: x["Area_Code"])
user_sale = ratings.batch(10_000_000).map(lambda x: x["SalesDocumentType"])
user_types = ratings.batch(10_000_000).map(lambda x: x["Customer_Type"])
user_city = ratings.batch(10_000_000).map(lambda x: x["city_name"])
user_city1 = ratings.batch(10_000_000).map(lambda x: x["OfficeBk"])
user_city2 = ratings.batch(10_000_000).map(lambda x: x["ClassBk"])

unique_product_title = np.unique(np.concatenate(list(product_title)))
unique_user_ids = np.unique(np.concatenate(list(user_ids)))
unique_user_area = np.unique(np.concatenate(list(user_area)))
unique_user_sale = np.unique(np.concatenate(list(user_sale)))
unique_user_types = np.unique(np.concatenate(list(user_types)))
unique_user_city = np.unique(np.concatenate(list(user_city)))
unique_user_city1 = np.unique(np.concatenate(list(user_city1)))
unique_user_city2 = np.unique(np.concatenate(list(user_city2)))

unique_product_title[:20]

2022-09-22 05:37:27.894981: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.
2022-09-22 05:37:28.157544: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

array([b'1053', b'1054', b'1055', b'1059', b'1062', b'1063', b'1070',
       b'1071', b'1080', b'1086', b'1093', b'1094', b'1272', b'1274',
       b'1280', b'1288', b'1298', b'137', b'138', b'139'], dtype=object)

In [76]:
unique_product_title

array([b'1053', b'1054', b'1055', b'1059', b'1062', b'1063', b'1070',
       b'1071', b'1080', b'1086', b'1093', b'1094', b'1272', b'1274',
       b'1280', b'1288', b'1298', b'137', b'138', b'139', b'1408',
       b'1434', b'1435', b'1437', b'1438', b'1439', b'1443', b'1444',
       b'1445', b'1448', b'1452', b'1456', b'1457', b'1458', b'1461',
       b'1462', b'1465', b'1466', b'1469', b'147', b'1470', b'1473',
       b'1484', b'1485', b'1498', b'1511', b'1521', b'1522', b'1523',
       b'1524', b'1532', b'1551', b'1571', b'1572', b'1573', b'1575',
       b'1576', b'1577', b'1578', b'1579', b'1582', b'1583', b'1588',
       b'1589', b'1590', b'1591', b'1596', b'1597', b'1601', b'1604',
       b'1605', b'1608', b'1611', b'1612', b'1614', b'1628', b'1644',
       b'1645', b'1646', b'1647', b'1648', b'1649', b'1661', b'1664',
       b'1681', b'1682', b'1683', b'1684', b'1685', b'1687', b'1688',
       b'1691', b'1760', b'1761', b'1762', b'1763', b'1764', b'1770',
       b'1771', b'1772', b'1773', b'1774', b'1775', b'1801', b'1802',
       b'1803', b'1804', b'1805', b'1806', b'1807', b'1809', b'1840',
       b'1841', b'1849', b'1854', b'1859', b'1894', b'1895', b'1896',
       b'1897', b'1900', b'1901', b'1902', b'1903', b'1904', b'1910',
       b'1911', b'1912', b'1913', b'1914', b'1940', b'1943', b'1944',
       b'1945', b'1946', b'201', b'2010', b'2011', b'206', b'207',
       b'2101', b'2111', b'2112', b'2114', b'2125', b'218', b'2201',
       b'221', b'2211', b'224', b'227', b'228', b'229', b'230', b'232',
       b'2323', b'235', b'2351', b'2354', b'2358', b'2363', b'2364',
       b'238', b'239', b'2468', b'2469', b'2512', b'2516', b'2518',
       b'2520', b'2521', b'2522', b'2609', b'2610', b'2630', b'2701',
       b'2702', b'2703', b'275', b'2751', b'2752', b'276', b'2761',
       b'277', b'278', b'284', b'2845', b'2846', b'2850', b'2851',
       b'2852', b'2853', b'2854', b'2855', b'2856', b'2858', b'2859',
       b'286', b'2864', b'2887', b'2888', b'2889', b'289', b'2890',
       b'2891', b'2892', b'2893', b'2894', b'2896', b'2897', b'2898',
       b'2899', b'2900', b'2902', b'2903', b'2904', b'2905', b'2907',
       b'2908', b'2909', b'291', b'2910', b'292', b'2930', b'294',
       b'2970', b'2971', b'2973', b'3003', b'3010', b'3011', b'3013',
       b'3014', b'3015', b'3016', b'3030', b'3032', b'3034', b'3037',
       b'3120', b'3121', b'329', b'330', b'331', b'377', b'378', b'379',
       b'380', b'381', b'382', b'383', b'384', b'385', b'400', b'407',
       b'418', b'419', b'420', b'421', b'452', b'457', b'460', b'474',
       b'484', b'485', b'492', b'493', b'495', b'496', b'497', b'501',
       b'504', b'508', b'558', b'559', b'589', b'591', b'641', b'642',
       b'643', b'650', b'651', b'652', b'655', b'657', b'659', b'663',
       b'664', b'683', b'701', b'703', b'704', b'707', b'717', b'722',
       b'729', b'732', b'753', b'761', b'764', b'779', b'788', b'789',
       b'790', b'797', b'805', b'807', b'808', b'809', b'818', b'819',
       b'825', b'826', b'827'], dtype=object)

In [77]:
# product_title = products.batch(1_000)
# user_ids = ratings.batch(1_000_000).map(lambda x: x["user_id"])


# unique_product_title = np.unique(np.concatenate(list(product_title)))
# unique_user_ids = np.unique(np.concatenate(list(user_ids)))


# unique_product_title[:20]

In [78]:
len(unique_product_title)

314

In [79]:
unique_user_ids

array([b'104000014', b'104000016', b'104009094', ..., b'999561233',
       b'999561236', b'999561245'], dtype=object)

In [80]:
unique_product_title

array([b'1053', b'1054', b'1055', b'1059', b'1062', b'1063', b'1070',
       b'1071', b'1080', b'1086', b'1093', b'1094', b'1272', b'1274',
       b'1280', b'1288', b'1298', b'137', b'138', b'139', b'1408',
       b'1434', b'1435', b'1437', b'1438', b'1439', b'1443', b'1444',
       b'1445', b'1448', b'1452', b'1456', b'1457', b'1458', b'1461',
       b'1462', b'1465', b'1466', b'1469', b'147', b'1470', b'1473',
       b'1484', b'1485', b'1498', b'1511', b'1521', b'1522', b'1523',
       b'1524', b'1532', b'1551', b'1571', b'1572', b'1573', b'1575',
       b'1576', b'1577', b'1578', b'1579', b'1582', b'1583', b'1588',
       b'1589', b'1590', b'1591', b'1596', b'1597', b'1601', b'1604',
       b'1605', b'1608', b'1611', b'1612', b'1614', b'1628', b'1644',
       b'1645', b'1646', b'1647', b'1648', b'1649', b'1661', b'1664',
       b'1681', b'1682', b'1683', b'1684', b'1685', b'1687', b'1688',
       b'1691', b'1760', b'1761', b'1762', b'1763', b'1764', b'1770',
       b'1771', b'1772', b'1773', b'1774', b'1775', b'1801', b'1802',
       b'1803', b'1804', b'1805', b'1806', b'1807', b'1809', b'1840',
       b'1841', b'1849', b'1854', b'1859', b'1894', b'1895', b'1896',
       b'1897', b'1900', b'1901', b'1902', b'1903', b'1904', b'1910',
       b'1911', b'1912', b'1913', b'1914', b'1940', b'1943', b'1944',
       b'1945', b'1946', b'201', b'2010', b'2011', b'206', b'207',
       b'2101', b'2111', b'2112', b'2114', b'2125', b'218', b'2201',
       b'221', b'2211', b'224', b'227', b'228', b'229', b'230', b'232',
       b'2323', b'235', b'2351', b'2354', b'2358', b'2363', b'2364',
       b'238', b'239', b'2468', b'2469', b'2512', b'2516', b'2518',
       b'2520', b'2521', b'2522', b'2609', b'2610', b'2630', b'2701',
       b'2702', b'2703', b'275', b'2751', b'2752', b'276', b'2761',
       b'277', b'278', b'284', b'2845', b'2846', b'2850', b'2851',
       b'2852', b'2853', b'2854', b'2855', b'2856', b'2858', b'2859',
       b'286', b'2864', b'2887', b'2888', b'2889', b'289', b'2890',
       b'2891', b'2892', b'2893', b'2894', b'2896', b'2897', b'2898',
       b'2899', b'2900', b'2902', b'2903', b'2904', b'2905', b'2907',
       b'2908', b'2909', b'291', b'2910', b'292', b'2930', b'294',
       b'2970', b'2971', b'2973', b'3003', b'3010', b'3011', b'3013',
       b'3014', b'3015', b'3016', b'3030', b'3032', b'3034', b'3037',
       b'3120', b'3121', b'329', b'330', b'331', b'377', b'378', b'379',
       b'380', b'381', b'382', b'383', b'384', b'385', b'400', b'407',
       b'418', b'419', b'420', b'421', b'452', b'457', b'460', b'474',
       b'484', b'485', b'492', b'493', b'495', b'496', b'497', b'501',
       b'504', b'508', b'558', b'559', b'589', b'591', b'641', b'642',
       b'643', b'650', b'651', b'652', b'655', b'657', b'659', b'663',
       b'664', b'683', b'701', b'703', b'704', b'707', b'717', b'722',
       b'729', b'732', b'753', b'761', b'764', b'779', b'788', b'789',
       b'790', b'797', b'805', b'807', b'808', b'809', b'818', b'819',
       b'825', b'826', b'827'], dtype=object)

In [81]:
embedding_dimension = 320

In [82]:
user_model = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_user_ids, mask_token=None),
  # We add an additional embedding to account for unknown tokens.
  tf.keras.layers.Embedding(len(unique_user_ids) + 1, 30)
])

In [83]:
user_model1 = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_user_area, mask_token=None),
  # We add an additional embedding to account for unknown tokens.
  tf.keras.layers.Embedding(len(unique_user_area) + 1, 30)
])

In [84]:
user_model2 = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_user_sale, mask_token=None),
  # We add an additional embedding to account for unknown tokens.
  tf.keras.layers.Embedding(len(unique_user_sale) + 1, 30)
])

In [85]:
user_model3 = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_user_types, mask_token=None),
  # We add an additional embedding to account for unknown tokens.
  tf.keras.layers.Embedding(len(unique_user_types) + 1, 30)
])

In [86]:
user_model4 = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_user_city, mask_token=None),
  # We add an additional embedding to account for unknown tokens.
  tf.keras.layers.Embedding(len(unique_user_city) + 1, 30)
])

In [87]:
user_model5 = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_user_city1, mask_token=None),
  # We add an additional embedding to account for unknown tokens.
  tf.keras.layers.Embedding(len(unique_user_city1) + 1, 30)
])

In [88]:
user_model6 = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_user_city2, mask_token=None),
  # We add an additional embedding to account for unknown tokens.
  tf.keras.layers.Embedding(len(unique_user_city2) + 1, 30)
])

In [89]:
len(unique_user_ids)

2483

In [90]:
type(user_model)

keras.engine.sequential.Sequential

In [91]:
product_model = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_product_title, mask_token=None),
  tf.keras.layers.Embedding(len(unique_product_title) + 1, 210)
])

In [92]:
metrics = tfrs.metrics.FactorizedTopK(
  candidates=products.batch(128).map(product_model)
)

In [93]:
retrieval_task_layer = tfrs.tasks.Retrieval(
  metrics=metrics
)

In [94]:
# class MovielensModel(tfrs.models.Model):

#   def __init__(self, rating_weight: float, retrieval_weight: float) -> None:
#     # We take the loss weights in the constructor: this allows us to instantiate
#     # several model objects with different loss weights.

#     super().__init__()

#     embedding_dimension = 32

#     # User and movie models.
#     self.movie_model: tf.keras.Model = movie_model
#     self.user_model: tf.keras.Model = user_model
#     self.user_model1: tf.keras.Model = user_model1
    
#     # A small model to take in user and movie embeddings and predict ratings.
#     # We can make this as complicated as we want as long as we output a scalar
#     # as our prediction.
#     self.rating_model = tf.keras.Sequential([
#         tf.keras.layers.Dense(256, activation="relu"),
#         tf.keras.layers.Dense(128, activation="relu"),
#         tf.keras.layers.Dense(1),
#     ])

#     # The tasks.

#     self.rating_task: tf.keras.layers.Layer = task
#     self.retrieval_task: tf.keras.layers.Layer = tfrs.tasks.Retrieval(
#         metrics=tfrs.metrics.FactorizedTopK(
#             candidates=movies.batch(128).map(self.movie_model)
#         )
#     )

#     # The loss weights.


#   def call(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:
#     # We pick out the user features and pass them into the user model.
#     user_embeddings = self.user_model(features["user_id"])
#     user_embeddings1 = self.user_model1(features["Customer_Type"])
#     # And pick out the movie features and pass them into the movie model.
#     movie_embeddings = self.movie_model(features["movie_title"])
    
#     return (
#         user_embeddings,
#         user_embeddings1,
#         # We apply the multi-layered rating model to a concatentation of
#         # user and movie embeddings.
#         self.rating_model(
#             tf.concat([user_embeddings, user_embeddings1], axis=1)
#         ),
#     )

#   def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:

#     ratings = features.pop("user_rating")

#     user_embeddings, movie_embeddings, rating_predictions = self(features)

#     # We compute the loss for each task.
#     rating_loss = self.rating_task(
#         labels=ratings,
#         predictions=rating_predictions,
#     )
#     retrieval_loss = self.retrieval_task(user_embeddings, movie_embeddings)

#     # And combine them using the loss weights.
#     return (self.rating_weight * rating_loss
#             + self.retrieval_weight * retrieval_loss)

In [95]:
user_model

In [96]:
class productModel(tfrs.models.Model):
  """MovieLens candidate generation model"""
 
  def __init__( self,user_model,user_model1,user_model2,user_model3,user_model4,user_model5,user_model6, product_model,retrieval_task_layer):
    
    super().__init__()
    self.product_model: tf.keras.Model = product_model
    self.user_model: tf.keras.Model = user_model
    self.user_model1: tf.keras.Model = user_model1
    self.user_model2: tf.keras.Model = user_model2
    self.user_model3: tf.keras.Model = user_model3
    self.user_model4: tf.keras.Model = user_model4
    self.user_model5: tf.keras.Model = user_model5
    self.user_model6: tf.keras.Model = user_model6
    self.retrieval_task_layer: tf.keras.layers.Layer = retrieval_task_layer


    
    # #self.query_embeddings_ds_1 = tf.keras.layers.Dense(128, activation='relu')
    # self.query_embeddings_ds_2 = tf.keras.layers.Dense(64, activation='relu')
    # self.query_embeddings_ds_3 = tf.keras.layers.Dense(32, activation='relu')
    
    # self.positive_candidate_embeddings_ds_1 = tf.keras.layers.Dense(128, activation='relu')
    # self.positive_candidate_embeddings_ds_2 = tf.keras.layers.Dense(64, activation='relu')
    # self.positive_candidate_embeddings_ds_3 = tf.keras.layers.Dense(32, activation='relu')
    
    # self.prd_sls_dff_reshape = tf.keras.layers.Reshape([1])#keras.layers.Reshape((None,1))
    # self.cst_sls_dff_reshape = tf.keras.layers.Reshape([1])#keras.layers.Reshape((None,1))
    # self.int_q_su_reshape = tf.keras.layers.Reshape([1])#keras.layers.Reshape((None,1))
    # self.prv_int_q_su_reshape = tf.keras.layers.Reshape([1])#keras.layers.Reshape((None,1))
    
 
 #def compute_loss(self, features: Dict[Text, tf.Tensor], training=False):
  def compute_loss(self, features, training=False) -> tf.Tensor:
    
    print(features)
    user_embeddings = self.user_model(features["user_id"])
    user_embeddings1 = self.user_model1(features["Area_Code"])
    user_embeddings2 = self.user_model2(features["SalesDocumentType"])
    user_embeddings3 = self.user_model3(features["Customer_Type"])
    user_embeddings4 = self.user_model4(features["city_name"])
    user_embeddings5 = self.user_model5(features["OfficeBk"])
    user_embeddings6 = self.user_model6(features["ClassBk"])
    product_embeddings = self.product_model(features["product_title"])
    
    query_embeddings_concats = tf.concat([user_embeddings, user_embeddings1,user_embeddings2,user_embeddings3,user_embeddings4,user_embeddings5,user_embeddings6], axis=1)
    
#     query_embeddings_final = self.query_embeddings_ds_3(
#         self.query_embeddings_ds_2(
#             self.query_embeddings_ds_1(
#                 query_embeddings_concats
#             )
#         )
#     )
    
    query_embeddings_final = query_embeddings_concats
    
    
    #t2 = self.res(self.raw_user_age_normalization_layer(features["raw_user_age"]))
    
    positive_candidate_embeddings_concats = product_embeddings
    
    positive_candidate_embeddings_final = positive_candidate_embeddings_concats

#     print(query_embeddings)
#     print(positive_candidate_embeddings)

    loss = self.retrieval_task_layer(
        query_embeddings_final,
        positive_candidate_embeddings_final
        # ,compute_metrics=not training  # To speed up training
    )
    return loss

In [97]:
# class MovielensModel(tfrs.Model):

#   def __init__(self, user_model, movie_model):
#     super().__init__()
#     self.movie_model: tf.keras.Model = movie_model
#     self.user_model: tf.keras.Model = user_model
#     self.task: tf.keras.layers.Layer = task

#   def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:
#     # We pick out the user features and pass them into the user model.
#     user_embeddings = self.user_model(features["user_id"])
#     # And pick out the movie features and pass them into the movie model,
#     # getting embeddings back.
#     positive_movie_embeddings = self.movie_model(features["movie_title"])

#     # The task computes the loss and the metrics.
#     return self.task(user_embeddings, positive_movie_embeddings)

In [98]:
# class NoBaseClassMovielensModel(tf.keras.Model):

#   def __init__(self, user_model, movie_model):
#     super().__init__()
#     self.movie_model: tf.keras.Model = movie_model
#     self.user_model: tf.keras.Model = user_model
#     self.task: tf.keras.layers.Layer = task

#   def train_step(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:

#     # Set up a gradient tape to record gradients.
#     with tf.GradientTape() as tape:

#       # Loss computation.
#       user_embeddings = self.user_model(features["user_id"])
#       positive_movie_embeddings = self.movie_model(features["movie_title"])
#       loss = self.task(user_embeddings, positive_movie_embeddings)

#       # Handle regularization losses as well.
#       regularization_loss = sum(self.losses)

#       total_loss = loss + regularization_loss

#     gradients = tape.gradient(total_loss, self.trainable_variables)
#     self.optimizer.apply_gradients(zip(gradients, self.trainable_variables))

#     metrics = {metric.name: metric.result() for metric in self.metrics}
#     metrics["loss"] = loss
#     metrics["regularization_loss"] = regularization_loss
#     metrics["total_loss"] = total_loss

#     return metrics

#   def test_step(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:

#     # Loss computation.
#     user_embeddings = self.user_model(features["user_id"])
#     positive_movie_embeddings = self.movie_model(features["movie_title"])
#     loss = self.task(user_embeddings, positive_movie_embeddings)

#     # Handle regularization losses as well.
#     regularization_loss = sum(self.losses)

#     total_loss = loss + regularization_loss

#     metrics = {metric.name: metric.result() for metric in self.metrics}
#     metrics["loss"] = loss
#     metrics["regularization_loss"] = regularization_loss
#     metrics["total_loss"] = total_loss

#     return metrics

In [99]:
# class MovielensModel(tfrs.models.Model):
#   """MovieLens candidate generation model"""
 
#   def __init__( self,user_model,product_model,retrieval_task_layer):
    
#     super().__init__()
#     self.product_model: tf.keras.Model = product_model
#     self.user_model: tf.keras.Model = user_model
#     # self.user_model1: tf.keras.Model = user_model1
#     # self.user_model2: tf.keras.Model = user_model2
#     # self.user_model3: tf.keras.Model = user_model3
#     # self.user_model4: tf.keras.Model = user_model4
#     self.retrieval_task_layer: tf.keras.layers.Layer = retrieval_task_layer


    
#     # #self.query_embeddings_ds_1 = tf.keras.layers.Dense(128, activation='relu')
#     # self.query_embeddings_ds_2 = tf.keras.layers.Dense(64, activation='relu')
#     # self.query_embeddings_ds_3 = tf.keras.layers.Dense(32, activation='relu')
    
#     # self.positive_candidate_embeddings_ds_1 = tf.keras.layers.Dense(128, activation='relu')
#     # self.positive_candidate_embeddings_ds_2 = tf.keras.layers.Dense(64, activation='relu')
#     # self.positive_candidate_embeddings_ds_3 = tf.keras.layers.Dense(32, activation='relu')
    
#     # self.prd_sls_dff_reshape = tf.keras.layers.Reshape([1])#keras.layers.Reshape((None,1))
#     # self.cst_sls_dff_reshape = tf.keras.layers.Reshape([1])#keras.layers.Reshape((None,1))
#     # self.int_q_su_reshape = tf.keras.layers.Reshape([1])#keras.layers.Reshape((None,1))
#     # self.prv_int_q_su_reshape = tf.keras.layers.Reshape([1])#keras.layers.Reshape((None,1))
    
 
#  #def compute_loss(self, features: Dict[Text, tf.Tensor], training=False):
#   def compute_loss(self, features, training=False) -> tf.Tensor:
    
#     print(features)
#     user_embeddings = self.user_model(features["user_id"])

#     product_embeddings = self.product_model(features["product_title"])
    
#     query_embeddings_concats = user_embeddings
    
# #     query_embeddings_final = self.query_embeddings_ds_3(
# #         self.query_embeddings_ds_2(
# #             self.query_embeddings_ds_1(
# #                 query_embeddings_concats
# #             )
# #         )
# #     )
    
#     query_embeddings_final = query_embeddings_concats
    
    
#     #t2 = self.res(self.raw_user_age_normalization_layer(features["raw_user_age"]))
    
#     positive_candidate_embeddings_concats = product_embeddings
    
#     positive_candidate_embeddings_final = positive_candidate_embeddings_concats

# #     print(query_embeddings)
# #     print(positive_candidate_embeddings)

#     loss = self.retrieval_task_layer(
#         query_embeddings_final,
#         positive_candidate_embeddings_final
#         # ,compute_metrics=not training  # To speed up training
#     )
#     return loss

In [68]:
len(df)

9562729

In [101]:
model = productModel(user_model,user_model1,user_model2,user_model3,user_model4,user_model5,user_model6, product_model,retrieval_task_layer)
model.compile(optimizer=tf.keras.optimizers.Adagrad(learning_rate=0.1))

In [102]:
# model = MovielensModel(user_model, product_model,retrieval_task_layer)
# model.compile(optimizer=tf.keras.optimizers.Adagrad(learning_rate=0.1))

In [369]:
cached_train = train.shuffle(9562729).batch(8192).cache()
cached_test = test.batch(4096).cache()

In [104]:
model.fit(cached_train, epochs=7)

Epoch 1/7
{'user_id': <tf.Tensor 'IteratorGetNext:7' shape=(None,) dtype=string>, 'Area_Code': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'product_title': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=string>, 'SalesDocumentType': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=string>, 'Customer_Type': <tf.Tensor 'IteratorGetNext:2' shape=(None,) dtype=string>, 'city_name': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=string>, 'OfficeBk': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=string>, 'ClassBk': <tf.Tensor 'IteratorGetNext:1' shape=(None,) dtype=string>}
{'user_id': <tf.Tensor 'IteratorGetNext:7' shape=(None,) dtype=string>, 'Area_Code': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'product_title': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=string>, 'SalesDocumentType': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=string>, 'Customer_Type': <tf.Tensor 'IteratorGetNext:2' shape=(None,) dtype=string>, 'city_name': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=string>, 'OfficeBk': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=string>, 'ClassBk': <tf.Tensor 'IteratorGetNext:1' shape=(None,) dtype=string>}
1/1 [==============================] - 2s 2s/step - factorized_top_k/top_1_categorical_accuracy: 0.0015 - factorized_top_k/top_5_categorical_accuracy: 0.0106 - factorized_top_k/top_10_categorical_accuracy: 0.0250 - factorized_top_k/top_50_categorical_accuracy: 0.1455 - factorized_top_k/top_100_categorical_accuracy: 0.2921 - loss: 32080.6699 - regularization_loss: 0.0000e+00 - total_loss: 32080.6699
Epoch 2/7
1/1 [==============================] - 0s 138ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0240 - factorized_top_k/top_5_categorical_accuracy: 0.1497 - factorized_top_k/top_10_categorical_accuracy: 0.2581 - factorized_top_k/top_50_categorical_accuracy: 0.6170 - factorized_top_k/top_100_categorical_accuracy: 0.7566 - loss: 31784.6953 - regularization_loss: 0.0000e+00 - total_loss: 31784.6953
Epoch 3/7
1/1 [==============================] - 0s 130ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0507 - factorized_top_k/top_5_categorical_accuracy: 0.2380 - factorized_top_k/top_10_categorical_accuracy: 0.3805 - factorized_top_k/top_50_categorical_accuracy: 0.6960 - factorized_top_k/top_100_categorical_accuracy: 0.7950 - loss: 30588.9746 - regularization_loss: 0.0000e+00 - total_loss: 30588.9746
Epoch 4/7
1/1 [==============================] - 0s 127ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0842 - factorized_top_k/top_5_categorical_accuracy: 0.3447 - factorized_top_k/top_10_categorical_accuracy: 0.4750 - factorized_top_k/top_50_categorical_accuracy: 0.7782 - factorized_top_k/top_100_categorical_accuracy: 0.9003 - loss: 28857.9590 - regularization_loss: 0.0000e+00 - total_loss: 28857.9590
Epoch 5/7
1/1 [==============================] - 0s 130ms/step - factorized_top_k/top_1_categorical_accuracy: 0.1149 - factorized_top_k/top_5_categorical_accuracy: 0.4356 - factorized_top_k/top_10_categorical_accuracy: 0.5685 - factorized_top_k/top_50_categorical_accuracy: 0.8622 - factorized_top_k/top_100_categorical_accuracy: 0.9423 - loss: 26530.1484 - regularization_loss: 0.0000e+00 - total_loss: 26530.1484
Epoch 6/7
1/1 [==============================] - 0s 112ms/step - factorized_top_k/top_1_categorical_accuracy: 0.1370 - factorized_top_k/top_5_categorical_accuracy: 0.5685 - factorized_top_k/top_10_categorical_accuracy: 0.7169 - factorized_top_k/top_50_categorical_accuracy: 0.9616 - factorized_top_k/top_100_categorical_accuracy: 0.9912 - loss: 23881.8047 - regularization_loss: 0.0000e+00 - total_loss: 23881.8047
Epoch 7/7
1/1 [==============================] - 0s 132ms/step - factorized_top_k/top_1_categorical_accuracy: 0.2007 - factorized_top_k/top_5_categorical_accuracy: 0.7030 - factorized_top_k/top_10_categorical_accuracy: 0.8364 - factorized_top_k/top_50_categorical_accuracy: 0.9830 - factorized_top_k/top_100_categorical_accuracy: 0.9956 - loss: 21430.1406 - regularization_loss: 0.0000e+00 - total_loss: 21430.1406

# خواندن لیست مشتریانی که تا کنون تراکنش داشته اند به همراه 8 فیچر آنها

In [145]:
dd = pd.read_csv('cust_list_tran_14010425.csv')

In [146]:
dd

,CustomerBk,AreaBk,LastCustomerClassBk,CustomerTypeBk,DistPathCode,OfficeBk,CityBk,CityTitle,Actived
0,102000008,0,0,37,0,236,1276,كميجان,True
1,102000011,0,0,37,0,138,104,اراك,True
2,102000014,0,0,37,0,138,104,اراك,True
3,102013362,0,0,37,0,138,104,اراك,True
4,102013377,0,0,37,0,960,122,قم,True
...,...,...,...,...,...,...,...,...,...
80927,999562005,0,-10,37,0,999,112,تهران,True
80928,999562006,0,200,22,0,999,112,تهران,True
80929,999562007,0,0,37,0,999,112,تهران,True
80930,999562008,0,0,39,0,999,112,تهران,True
80931,999562009,0,0,37,0,999,112,تهران,True

# خواندن لیست مشتریانی که تا کنون تراکنش نداشته اند به همراه 8 فیچر آنها

In [147]:
dg = pd.read_csv('cust_list_noTran_14010425.csv')

In [148]:
dg

,CustomerBk,AreaBk,LastCustomerClassBk,CustomerTypeBk,DistPathCode,OfficeBk,CityBk,CityTitle,Actived
0,135105065,0,-10,37,0,135,1003,پاوه,True
1,135105078,0,-10,37,0,135,103,كرمانشاه,True
2,135105106,0,-10,37,0,135,103,كرمانشاه,True
3,135105164,0,-10,37,0,135,103,كرمانشاه,True
4,135105179,0,-10,37,0,135,103,كرمانشاه,True
...,...,...,...,...,...,...,...,...,...
21092,976092416,0,200,26,0,976,1225,رامهرمز,True
21093,976093354,0,0,56,0,976,1225,رامهرمز,True
21094,993082881,0,0,37,0,993,840,املش,True
21095,993082935,0,0,37,0,993,907,كوچصفهان,True
21096,993083167,0,300,37,0,993,907,كوچصفهان,True

In [149]:
# len(pd.unique(df['CustomerBk']))

In [150]:
# df1=df.drop_duplicates('CustomerBk', keep='first')

In [151]:
df['CityTitle'][0]

'دامغان'

In [152]:
dd=dd[['CustomerBk','CustomerTypeBk','AreaBk','CityTitle','OfficeBk','DistPathCode','LastCustomerClassBk']]

In [153]:
dg=dg[['CustomerBk','CustomerTypeBk','AreaBk','CityTitle','OfficeBk','DistPathCode','LastCustomerClassBk']]

# تجمیع کل مشتریان

In [154]:
dr = pd.concat([dd,dg])

In [155]:
dr

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,102000008,37,0,كميجان,236,0,0
1,102000011,37,0,اراك,138,0,0
2,102000014,37,0,اراك,138,0,0
3,102013362,37,0,اراك,138,0,0
4,102013377,37,0,قم,960,0,0
...,...,...,...,...,...,...,...
21092,976092416,26,0,رامهرمز,976,0,200
21093,976093354,56,0,رامهرمز,976,0,0
21094,993082881,37,0,املش,993,0,0
21095,993082935,37,0,كوچصفهان,993,0,0
21096,993083167,37,0,كوچصفهان,993,0,300

In [156]:
dr2=dr.reset_index()

In [157]:
dr3=dr2.iloc[:,1:]

In [158]:
# bbb=[156,959,972]

In [159]:
dr3

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,102000008,37,0,كميجان,236,0,0
1,102000011,37,0,اراك,138,0,0
2,102000014,37,0,اراك,138,0,0
3,102013362,37,0,اراك,138,0,0
4,102013377,37,0,قم,960,0,0
...,...,...,...,...,...,...,...
102024,976092416,26,0,رامهرمز,976,0,200
102025,976093354,56,0,رامهرمز,976,0,0
102026,993082881,37,0,املش,993,0,0
102027,993082935,37,0,كوچصفهان,993,0,0
102028,993083167,37,0,كوچصفهان,993,0,300

In [160]:
# for i in range(len(dr2)):
#     dr2['OfficeBk'][i] = int(dr2['OfficeBk'][i])

In [161]:
type(dr2['OfficeBk'][97892])

numpy.int64

In [162]:
aaa

[129,
 260,
 133,
 902,
 134,
 132,
 138,
 267,
 268,
 139,
 272,
 273,
 146,
 147,
 148,
 149,
 150,
 279,
 280,
 154,
 155,
 156,
 157,
 158,
 159,
 289,
 936,
 948,
 950,
 956,
 959,
 320,
 324,
 325,
 326,
 327,
 200,
 329,
 971,
 975,
 336,
 977,
 210,
 339,
 976,
 982,
 983,
 220,
 230,
 999,
 998,
 233,
 234,
 237,
 250]

In [163]:
dr2

,index,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,0,102000008,37,0,كميجان,236,0,0
1,1,102000011,37,0,اراك,138,0,0
2,2,102000014,37,0,اراك,138,0,0
3,3,102013362,37,0,اراك,138,0,0
4,4,102013377,37,0,قم,960,0,0
...,...,...,...,...,...,...,...,...
102024,21092,976092416,26,0,رامهرمز,976,0,200
102025,21093,976093354,56,0,رامهرمز,976,0,0
102026,21094,993082881,37,0,املش,993,0,0
102027,21095,993082935,37,0,كوچصفهان,993,0,0
102028,21096,993083167,37,0,كوچصفهان,993,0,300

In [70]:
dr2.to_csv('dr2.csv',index=False)

NameError: name 'dr2' is not defined

In [71]:
dr2 = pd.read_csv('dr2.csv')

In [72]:
dr2

,index,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,0,102000008,37,0,كميجان,236,0,0
1,1,102000011,37,0,اراك,138,0,0
2,2,102000014,37,0,اراك,138,0,0
3,3,102013362,37,0,اراك,138,0,0
4,4,102013377,37,0,قم,960,0,0
...,...,...,...,...,...,...,...,...
102024,21092,976092416,26,0,رامهرمز,976,0,200
102025,21093,976093354,56,0,رامهرمز,976,0,0
102026,21094,993082881,37,0,املش,993,0,0
102027,21095,993082935,37,0,كوچصفهان,993,0,0
102028,21096,993083167,37,0,كوچصفهان,993,0,300

# جدا کردن مشتریان غیر کلانشهرها

In [73]:
lll=[]
lll1 = []
for i in range(len(dr2)):
    if dr2['OfficeBk'][i] in aaa:
        lll.append(i)  
    else:
        lll1.append(i)

In [74]:
dr3=dr2.iloc[lll1]

In [75]:
dr3=dr3.reset_index()

In [76]:
# dd4=dr3.iloc[:,2:]

In [77]:
# dd4

In [78]:
df = dr3[['CustomerBk','CustomerTypeBk','AreaBk','CityTitle','OfficeBk','DistPathCode','LastCustomerClassBk']]

In [79]:
df

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,102000008,37,0,كميجان,236,0,0
1,102013377,37,0,قم,960,0,0
2,102013384,37,0,كميجان,236,0,0
3,102503552,37,0,قم,960,0,-10
4,103054037,26,0,مشگين شهر,235,0,0
...,...,...,...,...,...,...,...
51016,431002690,37,11,محمد آباد,969,1,300
51017,460000011,10,0,سامن,167,0,-10
51018,993082881,37,0,املش,993,0,0
51019,993082935,37,0,كوچصفهان,993,0,0
51020,993083167,37,0,كوچصفهان,993,0,300

In [80]:
df['CustomerBk'] = df['CustomerBk'].astype(str)
df['CustomerTypeBk'] = df['CustomerTypeBk'].astype(str)
df['AreaBk'] = df['AreaBk'].astype(str)
df['CityTitle'] = df['CityTitle'].astype(str)
df['OfficeBk'] = df['OfficeBk'].astype(str)
df['DistPathCode'] = df['DistPathCode'].astype(str)
df['LastCustomerClassBk'] = df['LastCustomerClassBk'].astype(str)

/tmp/ipykernel_10576/1376161466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CustomerBk'] = df['CustomerBk'].astype(str)
/tmp/ipykernel_10576/1376161466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CustomerTypeBk'] = df['CustomerTypeBk'].astype(str)
/tmp/ipykernel_10576/1376161466.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AreaBk'] = df['AreaBk'].astype(str)
/tmp/ipykernel_10576/1376161466.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CityTitle'] = df['CityTitle'].astype(str)
/tmp/ipykernel_10576/1376161466.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['OfficeBk'] = df['OfficeBk'].astype(str)
/tmp/ipykernel_10576/1376161466.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DistPathCode'] = df['DistPathCode'].astype(str)
/tmp/ipykernel_10576/1376161466.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LastCustomerClassBk'] = df['LastCustomerClassBk'].astype(str)

In [81]:
df

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,102000008,37,0,كميجان,236,0,0
1,102013377,37,0,قم,960,0,0
2,102013384,37,0,كميجان,236,0,0
3,102503552,37,0,قم,960,0,-10
4,103054037,26,0,مشگين شهر,235,0,0
...,...,...,...,...,...,...,...
51016,431002690,37,11,محمد آباد,969,1,300
51017,460000011,10,0,سامن,167,0,-10
51018,993082881,37,0,املش,993,0,0
51019,993082935,37,0,كوچصفهان,993,0,0
51020,993083167,37,0,كوچصفهان,993,0,300

In [82]:
df5=df.iloc[:10000,:]

In [83]:
df5=df5.reset_index()

In [84]:
df5=df5.iloc[:,1:]

In [85]:
df5

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,102000008,37,0,كميجان,236,0,0
1,102013377,37,0,قم,960,0,0
2,102013384,37,0,كميجان,236,0,0
3,102503552,37,0,قم,960,0,-10
4,103054037,26,0,مشگين شهر,235,0,0
...,...,...,...,...,...,...,...
9995,274084037,37,0,ليسار,274,0,200
9996,274084039,37,0,لوندول,274,0,300
9997,274084040,28,0,ليسار,274,0,-10
9998,274084042,37,0,ليسار,274,0,300
9999,274084044,37,0,لوندويل,274,0,250

In [86]:
features = ['CustomerBk','AreaBk','DistPathCode','CustomerTypeBk','CityTitle','OfficeBk','LastCustomerClassBk'] 
dataset = (
    tf.data.Dataset.from_tensor_slices(
        (
            tf.cast(df5[features].values, tf.string)
            
        )
    )
)

In [87]:
ratings = (dataset
           .map(lambda rating: {'user_id': rating[0],'Area_Code':rating[1],'SalesDocumentType':rating[2],'Customer_Type':rating[3],'city_name':rating[4],'OfficeBk':rating[5],'ClassBk':rating[6]})
           .cache(tempfile.NamedTemporaryFile().name)
)

In [241]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(10000 , seed=42, reshuffle_each_iteration=False)

train = shuffled.take(10000)

In [242]:
l=[]
for i in range(10000):
    l1=[]
    # index = tfrs.layers.factorized_top_k.BruteForce(model.user_model,100)
    # # recommends movies out of the entire movies dataset.
    # index.index_from_dataset(
    #   tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    # )
    brute_force_layer = tfrs.layers.factorized_top_k.BruteForce(k=150)
    brute_force_layer.index_from_dataset(
      tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    )

    cached_test = train.batch(1)

    test_sample = cached_test.skip(i).take(1)
    test_sample_map = test_sample.map(
            lambda features: tf.concat([model.user_model(features["user_id"]), model.user_model1(features["Area_Code"]),model.user_model2(features["SalesDocumentType"]),model.user_model3(features["Customer_Type"]), model.user_model4(features["city_name"]), model.user_model5(features["OfficeBk"]), model.user_model6(features["ClassBk"])], axis=1)
        )

    test_sample_map_arr = []
    for item in test_sample_map.take(1).as_numpy_iterator():
        test_sample_map_arr.append(item[0])
    test_sample_map_arr = np.array(test_sample_map_arr)

    afinity_scores, a = brute_force_layer(test_sample_map_arr)

    for item in test_sample.as_numpy_iterator():
        print(f"Recommendations for user {item['user_id']} using BruteForce: {i}")
        # ppp = 1

    l1.append(int(item['user_id']))
    # Get recommendations.
    # _, titles = index(tf.constant([i]))
    z=list(a[0, :150].numpy())
    for j in z:
        l1.append(int(j))
        
    l.append(l1)

2022-09-22 05:46:08.021683: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'136560942'] using BruteForce: 0

2022-09-22 05:46:08.271577: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.
2022-09-22 05:46:08.752667: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'158443490'] using BruteForce: 1
Recommendations for user [b'147562224'] using BruteForce: 2
Recommendations for user [b'146561551'] using BruteForce: 3
Recommendations for user [b'147561515'] using BruteForce: 4
Recommendations for user [b'233100173'] using BruteForce: 5
Recommendations for user [b'156561396'] using BruteForce: 6
Recommendations for user [b'138443140'] using BruteForce: 7
Recommendations for user [b'220444338'] using BruteForce: 8
Recommendations for user [b'185058812'] using BruteForce: 9
Recommendations for user [b'219030932'] using BruteForce: 10
Recommendations for user [b'220444111'] using BruteForce: 11
Recommendations for user [b'116000017'] using BruteForce: 12
Recommendations for user [b'129442846'] using BruteForce: 13
Recommendations for user [b'158443544'] using BruteForce: 14
Recommendations for user [b'184560318'] using BruteForce: 15
Recommendations for user [b'191002629'] using BruteForce: 16
Recommendations for user [b'149561052'] using BruteForce: 17
Recommendations for user [b'156561879'] using BruteForce: 18
Recommendations for user [b'159443302'] using BruteForce: 19
Recommendations for user [b'215000017'] using BruteForce: 20
Recommendations for user [b'230444107'] using BruteForce: 21
Recommendations for user [b'138443275'] using BruteForce: 22
Recommendations for user [b'138443536'] using BruteForce: 23

KeyboardInterrupt:

In [460]:
len(l)

9695

In [463]:
dd1=pd.DataFrame(l)

In [464]:
dd1

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,758300303,2112,227,2125,1895,3037,289,2364,2101,2111,...,1071,3003,2898,1601,1608,2889,492,2854,407,2512
1,411010974,2112,2323,2111,2364,2324,559,201,558,228,...,1591,652,2897,2912,2522,384,284,643,3116,3120
2,255008280,2125,2111,1274,2323,2112,2509,2018,207,1063,...,238,232,1434,2101,1408,2262,2031,1904,652,2840
3,193002999,2364,2112,2111,2323,826,227,2363,331,207,...,1859,2971,1589,2020,495,278,400,1053,201,2518
4,408000222,2112,2125,2101,230,1573,2111,2364,1572,1524,...,3015,218,278,1591,1588,1596,1682,1858,276,2852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9690,242091294,2125,2994,1062,2702,1899,312,664,1097,1941,...,652,1911,1272,826,1807,1808,1772,276,1770,1485
9691,507003392,207,218,3030,2111,2323,3032,1611,2363,3037,...,2114,2785,1087,2899,1063,1434,1628,2610,1591,1760
9692,411110815,228,2111,2101,2112,559,230,2324,558,2363,...,1900,1646,296,2889,1648,753,1895,664,2888,2908
9693,996000004,228,229,1614,1604,1448,1456,2323,1611,1601,...,2887,2907,1762,2855,276,2610,2840,1904,2888,3078
9694,291012071,1858,495,1856,3079,819,764,1902,1601,1900,...,238,3019,291,1597,2261,753,1802,2211,1775,1688

In [465]:
dd1.to_csv('part1.csv')

In [243]:
df5=df.iloc[10000:20000,:]

In [244]:
df5=df5.reset_index()

In [245]:
df5=df5.iloc[:,1:]

In [246]:
df5

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,233100397,37,0,اهواز,233,0,200
1,233100398,37,0,اهواز,233,0,200
2,233100400,37,0,اهواز,233,0,-10
3,233100402,37,0,اهواز,233,0,300
4,233100403,37,0,اهواز,233,0,-10
...,...,...,...,...,...,...,...
9995,621501809,45,132,تهران,956,3,100
9996,621501811,38,6,تهران,956,3,250
9997,621501821,37,6,تهران,250,1,300
9998,621501828,37,6,تهران,250,1,100
9999,621501830,37,6,تهران,250,2,250

In [247]:
features = ['CustomerBk','AreaBk','DistPathCode','CustomerTypeBk','CityTitle','OfficeBk','LastCustomerClassBk'] 
dataset = (
    tf.data.Dataset.from_tensor_slices(
        (
            tf.cast(df5[features].values, tf.string)
            
        )
    )
)

In [248]:
ratings = (dataset
           .map(lambda rating: {'user_id': rating[0],'Area_Code':rating[1],'SalesDocumentType':rating[2],'Customer_Type':rating[3],'city_name':rating[4],'OfficeBk':rating[5],'ClassBk':rating[6]})
           .cache(tempfile.NamedTemporaryFile().name)
)

In [249]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(10000 , seed=42, reshuffle_each_iteration=False)

train = shuffled.take(10000)

In [250]:
l=[]
for i in range(10000):
    l1=[]
    # index = tfrs.layers.factorized_top_k.BruteForce(model.user_model,100)
    # # recommends movies out of the entire movies dataset.
    # index.index_from_dataset(
    #   tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    # )
    brute_force_layer = tfrs.layers.factorized_top_k.BruteForce(k=150)
    brute_force_layer.index_from_dataset(
      tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    )

    cached_test = train.batch(1)

    test_sample = cached_test.skip(i).take(1)
    test_sample_map = test_sample.map(
            lambda features: tf.concat([model.user_model(features["user_id"]), model.user_model1(features["Area_Code"]),model.user_model2(features["SalesDocumentType"]),model.user_model3(features["Customer_Type"]), model.user_model4(features["city_name"]), model.user_model5(features["OfficeBk"]), model.user_model6(features["ClassBk"])], axis=1)
        )

    test_sample_map_arr = []
    for item in test_sample_map.take(1).as_numpy_iterator():
        test_sample_map_arr.append(item[0])
    test_sample_map_arr = np.array(test_sample_map_arr)

    afinity_scores, a = brute_force_layer(test_sample_map_arr)

    for item in test_sample.as_numpy_iterator():
        print(f"Recommendations for user {item['user_id']} using BruteForce: {i}")
        # ppp = 1

    l1.append(int(item['user_id']))
    # Get recommendations.
    # _, titles = index(tf.constant([i]))
    z=list(a[0, :150].numpy())
    for j in z:
        l1.append(int(j))
        
    l.append(l1)

2022-09-22 05:51:43.534791: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'243091628'] using BruteForce: 0

2022-09-22 05:51:43.776609: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.
2022-09-22 05:51:44.462584: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'421053929'] using BruteForce: 1
Recommendations for user [b'268000087'] using BruteForce: 2
Recommendations for user [b'253004565'] using BruteForce: 3
Recommendations for user [b'260561404'] using BruteForce: 4
Recommendations for user [b'621100036'] using BruteForce: 5
Recommendations for user [b'354041202'] using BruteForce: 6
Recommendations for user [b'245000207'] using BruteForce: 7
Recommendations for user [b'619002365'] using BruteForce: 8
Recommendations for user [b'461010483'] using BruteForce: 9
Recommendations for user [b'616501167'] using BruteForce: 10

Exception ignored in: <function ConcreteFunctionGarbageCollector.__del__ at 0x7f40be7680d0>
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/tensorflow/python/eager/function.py", line 3865, in __del__
    def __del__(self):
KeyboardInterrupt:

KeyboardInterrupt:

In [251]:
len(l)

11

In [463]:
dd1=pd.DataFrame(l)

In [464]:
dd1

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,758300303,2112,227,2125,1895,3037,289,2364,2101,2111,...,1071,3003,2898,1601,1608,2889,492,2854,407,2512
1,411010974,2112,2323,2111,2364,2324,559,201,558,228,...,1591,652,2897,2912,2522,384,284,643,3116,3120
2,255008280,2125,2111,1274,2323,2112,2509,2018,207,1063,...,238,232,1434,2101,1408,2262,2031,1904,652,2840
3,193002999,2364,2112,2111,2323,826,227,2363,331,207,...,1859,2971,1589,2020,495,278,400,1053,201,2518
4,408000222,2112,2125,2101,230,1573,2111,2364,1572,1524,...,3015,218,278,1591,1588,1596,1682,1858,276,2852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9690,242091294,2125,2994,1062,2702,1899,312,664,1097,1941,...,652,1911,1272,826,1807,1808,1772,276,1770,1485
9691,507003392,207,218,3030,2111,2323,3032,1611,2363,3037,...,2114,2785,1087,2899,1063,1434,1628,2610,1591,1760
9692,411110815,228,2111,2101,2112,559,230,2324,558,2363,...,1900,1646,296,2889,1648,753,1895,664,2888,2908
9693,996000004,228,229,1614,1604,1448,1456,2323,1611,1601,...,2887,2907,1762,2855,276,2610,2840,1904,2888,3078
9694,291012071,1858,495,1856,3079,819,764,1902,1601,1900,...,238,3019,291,1597,2261,753,1802,2211,1775,1688

In [465]:
dd1.to_csv('part2.csv')

In [235]:
df5=df.iloc[20000:30000,:]

In [236]:
df5=df5.reset_index()

In [237]:
df5=df5.iloc[:,1:]

In [238]:
df5

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,102000011,37,0,اراك,138,0,0
1,102000014,37,0,اراك,138,0,0
2,102013362,37,0,اراك,138,0,0
3,102013394,26,0,اراك,138,0,0
4,104000002,42,0,اصفهان,325,0,-10
...,...,...,...,...,...,...,...
9995,233100385,43,0,اهواز,233,0,200
9996,233100386,37,0,اهواز,233,0,-10
9997,233100390,37,0,اهواز,233,0,250
9998,233100392,37,0,اهواز,233,0,-10
9999,233100396,37,0,اهواز,233,0,200

In [239]:
features = ['CustomerBk','AreaBk','DistPathCode','CustomerTypeBk','CityTitle','OfficeBk','LastCustomerClassBk'] 
dataset = (
    tf.data.Dataset.from_tensor_slices(
        (
            tf.cast(df5[features].values, tf.string)
            
        )
    )
)

In [240]:
ratings = (dataset
           .map(lambda rating: {'user_id': rating[0],'Area_Code':rating[1],'SalesDocumentType':rating[2],'Customer_Type':rating[3],'city_name':rating[4],'OfficeBk':rating[5],'ClassBk':rating[6]})
           .cache(tempfile.NamedTemporaryFile().name)
)

In [241]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(10000 , seed=42, reshuffle_each_iteration=False)

train = shuffled.take(10000)

In [242]:
l=[]
for i in range(10000):
    l1=[]
    # index = tfrs.layers.factorized_top_k.BruteForce(model.user_model,100)
    # # recommends movies out of the entire movies dataset.
    # index.index_from_dataset(
    #   tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    # )
    brute_force_layer = tfrs.layers.factorized_top_k.BruteForce(k=150)
    brute_force_layer.index_from_dataset(
      tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    )

    cached_test = train.batch(1)

    test_sample = cached_test.skip(i).take(1)
    test_sample_map = test_sample.map(
            lambda features: tf.concat([model.user_model(features["user_id"]), model.user_model1(features["Area_Code"]),model.user_model2(features["SalesDocumentType"]),model.user_model3(features["Customer_Type"]), model.user_model4(features["city_name"]), model.user_model5(features["OfficeBk"]), model.user_model6(features["ClassBk"])], axis=1)
        )

    test_sample_map_arr = []
    for item in test_sample_map.take(1).as_numpy_iterator():
        test_sample_map_arr.append(item[0])
    test_sample_map_arr = np.array(test_sample_map_arr)

    afinity_scores, a = brute_force_layer(test_sample_map_arr)

    for item in test_sample.as_numpy_iterator():
        print(f"Recommendations for user {item['user_id']} using BruteForce: {i}")
        # ppp = 1

    l1.append(int(item['user_id']))
    # Get recommendations.
    # _, titles = index(tf.constant([i]))
    z=list(a[0, :150].numpy())
    for j in z:
        l1.append(int(j))
        
    l.append(l1)

2022-09-22 05:46:08.021683: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'136560942'] using BruteForce: 0

2022-09-22 05:46:08.271577: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.
2022-09-22 05:46:08.752667: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'158443490'] using BruteForce: 1
Recommendations for user [b'147562224'] using BruteForce: 2
Recommendations for user [b'146561551'] using BruteForce: 3
Recommendations for user [b'147561515'] using BruteForce: 4
Recommendations for user [b'233100173'] using BruteForce: 5
Recommendations for user [b'156561396'] using BruteForce: 6
Recommendations for user [b'138443140'] using BruteForce: 7
Recommendations for user [b'220444338'] using BruteForce: 8
Recommendations for user [b'185058812'] using BruteForce: 9
Recommendations for user [b'219030932'] using BruteForce: 10
Recommendations for user [b'220444111'] using BruteForce: 11
Recommendations for user [b'116000017'] using BruteForce: 12
Recommendations for user [b'129442846'] using BruteForce: 13
Recommendations for user [b'158443544'] using BruteForce: 14
Recommendations for user [b'184560318'] using BruteForce: 15
Recommendations for user [b'191002629'] using BruteForce: 16
Recommendations for user [b'149561052'] using BruteForce: 17
Recommendations for user [b'156561879'] using BruteForce: 18
Recommendations for user [b'159443302'] using BruteForce: 19
Recommendations for user [b'215000017'] using BruteForce: 20
Recommendations for user [b'230444107'] using BruteForce: 21
Recommendations for user [b'138443275'] using BruteForce: 22
Recommendations for user [b'138443536'] using BruteForce: 23

KeyboardInterrupt:

In [460]:
len(l)

9695

In [463]:
dd1=pd.DataFrame(l)

In [464]:
dd1

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,758300303,2112,227,2125,1895,3037,289,2364,2101,2111,...,1071,3003,2898,1601,1608,2889,492,2854,407,2512
1,411010974,2112,2323,2111,2364,2324,559,201,558,228,...,1591,652,2897,2912,2522,384,284,643,3116,3120
2,255008280,2125,2111,1274,2323,2112,2509,2018,207,1063,...,238,232,1434,2101,1408,2262,2031,1904,652,2840
3,193002999,2364,2112,2111,2323,826,227,2363,331,207,...,1859,2971,1589,2020,495,278,400,1053,201,2518
4,408000222,2112,2125,2101,230,1573,2111,2364,1572,1524,...,3015,218,278,1591,1588,1596,1682,1858,276,2852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9690,242091294,2125,2994,1062,2702,1899,312,664,1097,1941,...,652,1911,1272,826,1807,1808,1772,276,1770,1485
9691,507003392,207,218,3030,2111,2323,3032,1611,2363,3037,...,2114,2785,1087,2899,1063,1434,1628,2610,1591,1760
9692,411110815,228,2111,2101,2112,559,230,2324,558,2363,...,1900,1646,296,2889,1648,753,1895,664,2888,2908
9693,996000004,228,229,1614,1604,1448,1456,2323,1611,1601,...,2887,2907,1762,2855,276,2610,2840,1904,2888,3078
9694,291012071,1858,495,1856,3079,819,764,1902,1601,1900,...,238,3019,291,1597,2261,753,1802,2211,1775,1688

In [465]:
dd1.to_csv('part3.csv')

In [235]:
df5=df.iloc[30000:40000,:]

In [236]:
df5=df5.reset_index()

In [237]:
df5=df5.iloc[:,1:]

In [238]:
df5

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,102000011,37,0,اراك,138,0,0
1,102000014,37,0,اراك,138,0,0
2,102013362,37,0,اراك,138,0,0
3,102013394,26,0,اراك,138,0,0
4,104000002,42,0,اصفهان,325,0,-10
...,...,...,...,...,...,...,...
9995,233100385,43,0,اهواز,233,0,200
9996,233100386,37,0,اهواز,233,0,-10
9997,233100390,37,0,اهواز,233,0,250
9998,233100392,37,0,اهواز,233,0,-10
9999,233100396,37,0,اهواز,233,0,200

In [239]:
features = ['CustomerBk','AreaBk','DistPathCode','CustomerTypeBk','CityTitle','OfficeBk','LastCustomerClassBk'] 
dataset = (
    tf.data.Dataset.from_tensor_slices(
        (
            tf.cast(df5[features].values, tf.string)
            
        )
    )
)

In [240]:
ratings = (dataset
           .map(lambda rating: {'user_id': rating[0],'Area_Code':rating[1],'SalesDocumentType':rating[2],'Customer_Type':rating[3],'city_name':rating[4],'OfficeBk':rating[5],'ClassBk':rating[6]})
           .cache(tempfile.NamedTemporaryFile().name)
)

In [241]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(10000 , seed=42, reshuffle_each_iteration=False)

train = shuffled.take(10000)

In [242]:
l=[]
for i in range(10000):
    l1=[]
    # index = tfrs.layers.factorized_top_k.BruteForce(model.user_model,100)
    # # recommends movies out of the entire movies dataset.
    # index.index_from_dataset(
    #   tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    # )
    brute_force_layer = tfrs.layers.factorized_top_k.BruteForce(k=150)
    brute_force_layer.index_from_dataset(
      tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    )

    cached_test = train.batch(1)

    test_sample = cached_test.skip(i).take(1)
    test_sample_map = test_sample.map(
            lambda features: tf.concat([model.user_model(features["user_id"]), model.user_model1(features["Area_Code"]),model.user_model2(features["SalesDocumentType"]),model.user_model3(features["Customer_Type"]), model.user_model4(features["city_name"]), model.user_model5(features["OfficeBk"]), model.user_model6(features["ClassBk"])], axis=1)
        )

    test_sample_map_arr = []
    for item in test_sample_map.take(1).as_numpy_iterator():
        test_sample_map_arr.append(item[0])
    test_sample_map_arr = np.array(test_sample_map_arr)

    afinity_scores, a = brute_force_layer(test_sample_map_arr)

    for item in test_sample.as_numpy_iterator():
        print(f"Recommendations for user {item['user_id']} using BruteForce: {i}")
        # ppp = 1

    l1.append(int(item['user_id']))
    # Get recommendations.
    # _, titles = index(tf.constant([i]))
    z=list(a[0, :150].numpy())
    for j in z:
        l1.append(int(j))
        
    l.append(l1)

2022-09-22 05:46:08.021683: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'136560942'] using BruteForce: 0

2022-09-22 05:46:08.271577: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.
2022-09-22 05:46:08.752667: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'158443490'] using BruteForce: 1
Recommendations for user [b'147562224'] using BruteForce: 2
Recommendations for user [b'146561551'] using BruteForce: 3
Recommendations for user [b'147561515'] using BruteForce: 4
Recommendations for user [b'233100173'] using BruteForce: 5
Recommendations for user [b'156561396'] using BruteForce: 6
Recommendations for user [b'138443140'] using BruteForce: 7
Recommendations for user [b'220444338'] using BruteForce: 8
Recommendations for user [b'185058812'] using BruteForce: 9
Recommendations for user [b'219030932'] using BruteForce: 10
Recommendations for user [b'220444111'] using BruteForce: 11
Recommendations for user [b'116000017'] using BruteForce: 12
Recommendations for user [b'129442846'] using BruteForce: 13
Recommendations for user [b'158443544'] using BruteForce: 14
Recommendations for user [b'184560318'] using BruteForce: 15
Recommendations for user [b'191002629'] using BruteForce: 16
Recommendations for user [b'149561052'] using BruteForce: 17
Recommendations for user [b'156561879'] using BruteForce: 18
Recommendations for user [b'159443302'] using BruteForce: 19
Recommendations for user [b'215000017'] using BruteForce: 20
Recommendations for user [b'230444107'] using BruteForce: 21
Recommendations for user [b'138443275'] using BruteForce: 22
Recommendations for user [b'138443536'] using BruteForce: 23

KeyboardInterrupt:

In [460]:
len(l)

9695

In [463]:
dd1=pd.DataFrame(l)

In [464]:
dd1

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,758300303,2112,227,2125,1895,3037,289,2364,2101,2111,...,1071,3003,2898,1601,1608,2889,492,2854,407,2512
1,411010974,2112,2323,2111,2364,2324,559,201,558,228,...,1591,652,2897,2912,2522,384,284,643,3116,3120
2,255008280,2125,2111,1274,2323,2112,2509,2018,207,1063,...,238,232,1434,2101,1408,2262,2031,1904,652,2840
3,193002999,2364,2112,2111,2323,826,227,2363,331,207,...,1859,2971,1589,2020,495,278,400,1053,201,2518
4,408000222,2112,2125,2101,230,1573,2111,2364,1572,1524,...,3015,218,278,1591,1588,1596,1682,1858,276,2852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9690,242091294,2125,2994,1062,2702,1899,312,664,1097,1941,...,652,1911,1272,826,1807,1808,1772,276,1770,1485
9691,507003392,207,218,3030,2111,2323,3032,1611,2363,3037,...,2114,2785,1087,2899,1063,1434,1628,2610,1591,1760
9692,411110815,228,2111,2101,2112,559,230,2324,558,2363,...,1900,1646,296,2889,1648,753,1895,664,2888,2908
9693,996000004,228,229,1614,1604,1448,1456,2323,1611,1601,...,2887,2907,1762,2855,276,2610,2840,1904,2888,3078
9694,291012071,1858,495,1856,3079,819,764,1902,1601,1900,...,238,3019,291,1597,2261,753,1802,2211,1775,1688

In [465]:
dd1.to_csv('part4.csv')

In [88]:
df5=df.iloc[40000:,:]

In [89]:
df5=df5.reset_index()

In [90]:
df5=df5.iloc[:,1:]

In [91]:
df5

,CustomerBk,CustomerTypeBk,AreaBk,CityTitle,OfficeBk,DistPathCode,LastCustomerClassBk
0,993084083,43,0,لاهيجان,993,0,300
1,993084084,37,0,لنگرود,993,0,200
2,993084085,37,0,تنكابن,313,0,300
3,993084086,37,0,لاهيجان,993,0,-10
4,993084087,37,0,تنكابن,313,0,250
...,...,...,...,...,...,...,...
11016,431002690,37,11,محمد آباد,969,1,300
11017,460000011,10,0,سامن,167,0,-10
11018,993082881,37,0,املش,993,0,0
11019,993082935,37,0,كوچصفهان,993,0,0
11020,993083167,37,0,كوچصفهان,993,0,300

In [92]:
features = ['CustomerBk','AreaBk','DistPathCode','CustomerTypeBk','CityTitle','OfficeBk','LastCustomerClassBk'] 
dataset = (
    tf.data.Dataset.from_tensor_slices(
        (
            tf.cast(df5[features].values, tf.string)
            
        )
    )
)

In [240]:
ratings = (dataset
           .map(lambda rating: {'user_id': rating[0],'Area_Code':rating[1],'SalesDocumentType':rating[2],'Customer_Type':rating[3],'city_name':rating[4],'OfficeBk':rating[5],'ClassBk':rating[6]})
           .cache(tempfile.NamedTemporaryFile().name)
)

In [241]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(11021 , seed=42, reshuffle_each_iteration=False)

train = shuffled.take(11021)

In [242]:
l=[]
for i in range(11021):
    l1=[]
    # index = tfrs.layers.factorized_top_k.BruteForce(model.user_model,100)
    # # recommends movies out of the entire movies dataset.
    # index.index_from_dataset(
    #   tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    # )
    brute_force_layer = tfrs.layers.factorized_top_k.BruteForce(k=150)
    brute_force_layer.index_from_dataset(
      tf.data.Dataset.zip((products.batch(100), products.batch(100).map(product_model)))
    )

    cached_test = train.batch(1)

    test_sample = cached_test.skip(i).take(1)
    test_sample_map = test_sample.map(
            lambda features: tf.concat([model.user_model(features["user_id"]), model.user_model1(features["Area_Code"]),model.user_model2(features["SalesDocumentType"]),model.user_model3(features["Customer_Type"]), model.user_model4(features["city_name"]), model.user_model5(features["OfficeBk"]), model.user_model6(features["ClassBk"])], axis=1)
        )

    test_sample_map_arr = []
    for item in test_sample_map.take(1).as_numpy_iterator():
        test_sample_map_arr.append(item[0])
    test_sample_map_arr = np.array(test_sample_map_arr)

    afinity_scores, a = brute_force_layer(test_sample_map_arr)

    for item in test_sample.as_numpy_iterator():
        print(f"Recommendations for user {item['user_id']} using BruteForce: {i}")
        # ppp = 1

    l1.append(int(item['user_id']))
    # Get recommendations.
    # _, titles = index(tf.constant([i]))
    z=list(a[0, :150].numpy())
    for j in z:
        l1.append(int(j))
        
    l.append(l1)

2022-09-22 05:46:08.021683: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'136560942'] using BruteForce: 0

2022-09-22 05:46:08.271577: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.
2022-09-22 05:46:08.752667: W tensorflow/core/kernels/data/cache_dataset_ops.cc:233] The calling iterator did not fully read the dataset being cached. In order to avoid unexpected truncation of the dataset, the partially cached contents of the dataset  will be discarded. This can happen if you have an input pipeline similar to `dataset.cache().take(k).repeat()`. You should use `dataset.take(k).cache().repeat()` instead.

Recommendations for user [b'158443490'] using BruteForce: 1
Recommendations for user [b'147562224'] using BruteForce: 2
Recommendations for user [b'146561551'] using BruteForce: 3
Recommendations for user [b'147561515'] using BruteForce: 4
Recommendations for user [b'233100173'] using BruteForce: 5
Recommendations for user [b'156561396'] using BruteForce: 6
Recommendations for user [b'138443140'] using BruteForce: 7
Recommendations for user [b'220444338'] using BruteForce: 8
Recommendations for user [b'185058812'] using BruteForce: 9
Recommendations for user [b'219030932'] using BruteForce: 10
Recommendations for user [b'220444111'] using BruteForce: 11
Recommendations for user [b'116000017'] using BruteForce: 12
Recommendations for user [b'129442846'] using BruteForce: 13
Recommendations for user [b'158443544'] using BruteForce: 14
Recommendations for user [b'184560318'] using BruteForce: 15
Recommendations for user [b'191002629'] using BruteForce: 16
Recommendations for user [b'149561052'] using BruteForce: 17
Recommendations for user [b'156561879'] using BruteForce: 18
Recommendations for user [b'159443302'] using BruteForce: 19
Recommendations for user [b'215000017'] using BruteForce: 20
Recommendations for user [b'230444107'] using BruteForce: 21
Recommendations for user [b'138443275'] using BruteForce: 22
Recommendations for user [b'138443536'] using BruteForce: 23

KeyboardInterrupt:

In [460]:
len(l)

9695

In [463]:
dd1=pd.DataFrame(l)

In [464]:
dd1

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,758300303,2112,227,2125,1895,3037,289,2364,2101,2111,...,1071,3003,2898,1601,1608,2889,492,2854,407,2512
1,411010974,2112,2323,2111,2364,2324,559,201,558,228,...,1591,652,2897,2912,2522,384,284,643,3116,3120
2,255008280,2125,2111,1274,2323,2112,2509,2018,207,1063,...,238,232,1434,2101,1408,2262,2031,1904,652,2840
3,193002999,2364,2112,2111,2323,826,227,2363,331,207,...,1859,2971,1589,2020,495,278,400,1053,201,2518
4,408000222,2112,2125,2101,230,1573,2111,2364,1572,1524,...,3015,218,278,1591,1588,1596,1682,1858,276,2852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9690,242091294,2125,2994,1062,2702,1899,312,664,1097,1941,...,652,1911,1272,826,1807,1808,1772,276,1770,1485
9691,507003392,207,218,3030,2111,2323,3032,1611,2363,3037,...,2114,2785,1087,2899,1063,1434,1628,2610,1591,1760
9692,411110815,228,2111,2101,2112,559,230,2324,558,2363,...,1900,1646,296,2889,1648,753,1895,664,2888,2908
9693,996000004,228,229,1614,1604,1448,1456,2323,1611,1601,...,2887,2907,1762,2855,276,2610,2840,1904,2888,3078
9694,291012071,1858,495,1856,3079,819,764,1902,1601,1900,...,238,3019,291,1597,2261,753,1802,2211,1775,1688

In [465]:
dd1.to_csv('part5.csv')

In [ ]:
kalan = pd.read_csv('kalan.csv')

In [190]:
dff1 = pd.read_csv('part1.csv')

In [191]:
dff2 = pd.read_csv('part2.csv')

In [192]:
dff3 = pd.read_csv('part3.csv')

In [193]:
dff4 = pd.read_csv('part4.csv')

In [ ]:
dff5 = pd.read_csv('part5.csv')

In [194]:
dff5=pd.concat([kalan, dff1, dff2,dff3,dff4,dff5])
dff5=dff5.reset_index()
dff5=dff5.iloc[:,1:]

In [195]:
dff5

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,141,142,143,144,145,146,147,148,149,150
0,0,197000044,496,495,497,498,501,1895,1437,1434,...,2891,221,641,2112,659,589,2021,827,1590,289
1,1,608016088,878,2111,2363,1274,2112,2323,2364,2468,...,377,380,1608,1649,1614,2125,2021,826,2905,218
2,2,965444408,1579,1577,221,722,1685,1683,701,1578,...,2030,1274,2253,707,1686,1913,2245,1914,2784,589
3,3,159443437,2945,3046,3003,1661,2858,312,1099,2912,...,1604,1094,558,1053,1532,474,1601,407,1059,3019
4,4,253002105,289,2112,2364,2610,230,3013,559,227,...,1901,664,331,238,1597,1844,663,1578,717,277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97365,15786,989015285,1943,2970,1605,2971,1485,2972,1941,1484,...,2898,806,1910,227,2011,2840,2781,2911,655,282
97366,15787,991083275,1899,2030,808,3079,148,1438,1469,1896,...,2824,2324,1054,589,2909,134,1682,2241,722,1802
97367,15788,990054422,501,659,2824,683,558,3037,498,707,...,452,1941,2899,277,2358,1681,1573,275,3044,643
97368,15789,962013314,1809,1646,1649,1648,1645,1805,1807,1801,...,1080,232,418,779,1775,3015,1628,2522,2840,379
97369,15790,974093870,2930,2931,1841,388,2262,1856,2909,2900,...,1577,2971,1485,2977,1523,229,2610,384,1611,1614

In [196]:
dff5=dff5.iloc[:,1:]

In [197]:
dff5

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,197000044,496,495,497,498,501,1895,1437,1434,3032,...,2891,221,641,2112,659,589,2021,827,1590,289
1,608016088,878,2111,2363,1274,2112,2323,2364,2468,492,...,377,380,1608,1649,1614,2125,2021,826,2905,218
2,965444408,1579,1577,221,722,1685,1683,701,1578,1522,...,2030,1274,2253,707,1686,1913,2245,1914,2784,589
3,159443437,2945,3046,3003,1661,2858,312,1099,2912,3044,...,1604,1094,558,1053,1532,474,1601,407,1059,3019
4,253002105,289,2112,2364,2610,230,3013,559,227,2125,...,1901,664,331,238,1597,1844,663,1578,717,277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97365,989015285,1943,2970,1605,2971,1485,2972,1941,1484,1470,...,2898,806,1910,227,2011,2840,2781,2911,655,282
97366,991083275,1899,2030,808,3079,148,1438,1469,1896,2358,...,2824,2324,1054,589,2909,134,1682,2241,722,1802
97367,990054422,501,659,2824,683,558,3037,498,707,1895,...,452,1941,2899,277,2358,1681,1573,275,3044,643
97368,962013314,1809,1646,1649,1648,1645,1805,1807,1801,1803,...,1080,232,418,779,1775,3015,1628,2522,2840,379
97369,974093870,2930,2931,1841,388,2262,1856,2909,2900,1844,...,1577,2971,1485,2977,1523,229,2610,384,1611,1614

In [199]:
dff5.to_csv('recommender_final.csv')