In [18]:
import pandas as pd

In [19]:
df = pd.read_excel('C:\\Users\\f\\Downloads\\14010929_1.xlsx')

In [39]:
df

     Product_Code                                       ProductTitle  Count
0             808                              کشمش 100 گرمي  گلستان   4721
1             809                               کشمش 300 گرمي گلستان   5368
2            1086             آجيل مخلوط چهار مغز شور 30 گرمي گلستان   9885
3            2904                               آويشن 45 گرمي گلستان   3527
4            2896                          ادويه کاري 80 گرمي گلستان   4016
..            ...                                                ...    ...
528           383           لوبيا قرمز  450 گرمي ( استند آپ ) گلستان   4372
529           384           لوبيا قرمز 900 گرمي ( استند آپ )  گلستان   3819
530          1063           مغز تخمه آفتابگردان سرکه نمکي 40 گرمي گل   4244
531          1911               هاتي نودل 77 گرمي 5 عددي با طعم گوشت  10610
532          1905  هاتي‌ نودل 77 گرمي 5 عددي با طعم مرغ(جايزه‌دار...  10739

[533 rows x 3 columns]

In [69]:
list = []
list_bad = []
for i in range(len(df)):
    if df['Count'][i] >530:
        list.append(df['Product_Code'][i])
        
    else: 
        list_bad.append(df['Product_Code'][i])

In [70]:
len(list)

357

In [71]:
list

[808,
 809,
 1086,
 2904,
 2896,
 2898,
 1688,
 3044,
 3014,
 3015,
 3030,
 1644,
 1604,
 1522,
 1521,
 2609,
 2323,
 1408,
 238,
 2230,
 2850,
 558,
 2018,
 495,
 496,
 1605,
 2945,
 642,
 418,
 420,
 1775,
 1773,
 1080,
 1062,
 2785,
 380,
 1941,
 2889,
 1903,
 1904,
 819,
 3033,
 1763,
 722,
 732,
 1806,
 1802,
 1812,
 1511,
 2520,
 1596,
 224,
 218,
 207,
 1524,
 2931,
 1611,
 137,
 2114,
 2111,
 2853,
 641,
 2846,
 294,
 284,
 1943,
 1469,
 2034,
 498,
 497,
 655,
 1772,
 1777,
 2852,
 1439,
 1770,
 667,
 379,
 1901,
 1912,
 1913,
 1906,
 657,
 1933,
 2911,
 3116,
 1048,
 1686,
 1630,
 2903,
 2040,
 484,
 1764,
 1897,
 788,
 764,
 729,
 790,
 1807,
 1844,
 2855,
 2469,
 1685,
 1856,
 1620,
 1608,
 1575,
 2253,
 2912,
 2017,
 2906,
 1647,
 1648,
 2899,
 652,
 1774,
 421,
 1081,
 2792,
 1940,
 2888,
 1929,
 826,
 1930,
 2011,
 296,
 1076,
 3046,
 460,
 1840,
 701,
 753,
 2909,
 1056,
 1590,
 1597,
 2610,
 1577,
 2468,
 1765,
 2845,
 2701,
 2351,
 2358,
 2201,
 2112,
 2125,
 2840,
 239,
 275,
 277,
 659,
 683,
 1437,
 492,
 2908,
 2971,
 2784,
 2844,
 1895,
 1047,
 1074,
 1099,
 1093,
 3013,
 1661,
 1841,
 1070,
 779,
 704,
 3161,
 1805,
 651,
 1601,
 2841,
 1058,
 1057,
 2518,
 227,
 2615,
 1532,
 1579,
 1762,
 1854,
 1760,
 1684,
 1681,
 139,
 2702,
 1682,
 235,
 232,
 2262,
 282,
 2892,
 2843,
 382,
 1484,
 2970,
 2255,
 1274,
 1761,
 643,
 1914,
 2824,
 2914,
 1087,
 3120,
 3121,
 2854,
 663,
 2910,
 1075,
 1098,
 452,
 1664,
 806,
 1071,
 3160,
 1448,
 1801,
 2897,
 1059,
 1588,
 1578,
 1598,
 1551,
 2324,
 138,
 2703,
 2363,
 2101,
 2245,
 292,
 276,
 2260,
 2261,
 2022,
 2030,
 1646,
 1649,
 400,
 1470,
 2751,
 1298,
 1288,
 2894,
 378,
 388,
 330,
 827,
 825,
 1899,
 2905,
 457,
 474,
 3016,
 789,
 703,
 805,
 1809,
 1803,
 1808,
 1628,
 2907,
 1053,
 1046,
 2521,
 221,
 1591,
 1587,
 2512,
 206,
 230,
 201,
 1533,
 1523,
 1683,
 1896,
 2930,
 1571,
 289,
 2354,
 2211,
 1572,
 1573,
 385,
 2251,
 1456,
 650,
 2021,
 2031,
 501,
 381,
 2972,
 2973,
 1485,
 2858,
 2752,
 377,
 419,
 329,
 1094,
 331,
 2781,
 1771,
 2887,
 1928,
 1910,
 1902,
 1900,
 818,
 2895,
 664,
 1434,
 2902,
 1077,
 1097,
 407,
 3034,
 2842,
 707,
 718,
 765,
 1804,
 1691,
 1054,
 1055,
 2522,
 1589,
 254,
 1857,
 1858,
 1614,
 1576,
 2364,
 2241,
 286,
 291,
 278,
 2856,
 2994,
 2020,
 559,
 1645,
 2851,
 1438,
 2891,
 2890,
 1272,
 2836,
 312,
 383,
 384,
 1063,
 1911,
 1905]

In [73]:
dff = pd.DataFrame({'products':list})

In [74]:
dff.to_csv('products.csv')

In [62]:
df['ProductTitle'][df['Product_Code']==list[3]]

3    آويشن 45 گرمي گلستان
Name: ProductTitle, dtype: object

In [63]:
df['Count'][df['Product_Code']==list[3]]

3    3527
Name: Count, dtype: int64